@model NationalPark

@{
    var title = "Create National Park";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data">

    <div class="row px-2 mx-2 backgroundWhite border">
        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="Id" />
            title = "Edit National Park";
        }

        <div class="col-12 p-3">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                </div>
                <div class="col-8">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 offset-4">
                </div>
                <div class="col-4">
                    <a class="btn btn-success form-control">Back to List</a>
                </div>
            </div>
        </div>
        <div class="col-4 text-right" style="width:250px;">
            <img src="https://via.placeholder.com/150" width="100%" />
        </div>
    </div>

</form>