@model ParkyWeb.Models.User

@{
    ViewData["Title"] = "Register";
}


@*<h1>Register</h1>*@

<form method="post">

    <div class="card">
        <div class="card-header">
            <strong>Register</strong>
        </div>
        <div class="card-body">
            @*<h5 class="card-title">User Information</h5>*@
            <input asp-for="Username" type="text" placeholder="Username..." class="form-control mb-2" />
            <input asp-for="Password" type="text" placeholder="Password..." class="form-control mb-2" />
            <button type="submit" value="Submit" class="btn btn-primary mb-2">Register</button>
        </div>
    </div>

</form>